body {
    background-color: #171616;
}
.собака {
    padding-top: 75px;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.собака img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dog-background {
    background-color: #302d2b;
    width: 880px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
}
.pes {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.dog-photo {
    flex: 1;
    min-height: 0;
}
.dog-photo .dog-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}

.dog-photo:hover .dog-btn {
  opacity: 1;
  pointer-events: auto;
}

h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.register-btn {
  position: fixed;
  top: 16px;
  right: 125px;
  z-index: 1000;
}

.form-label {
    color: white
}

.form-check-label {
    color: white
}

.register-page {
  padding-top: 175px;
}

.bottom-text {
  color: #797a7a;
}

.up-text {
    color: white;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 60px;
}

.back-btn {
    top: 16px;
    left: 16px;
}

.login-page {
  padding-top: 175px;
}

.btn-warm {
    color: #DD571C;
}

.logout-btn {
  position: fixed;
  top: 16px;
  right: 135px;
  z-index: 1000;
}

.pfp {
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-color: #302d2b;
}

.rectangle {
    width: 1500px;
    min-height: 300px;
    border: 1px solid #000;
    background-color: #302d2b;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 800px;
    height: 300px;
    border: 1px solid #000;
    background-color: #302d2b;
}

.profile-top{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin-top: 55px;
}

.like {
    transform: translate(725px, -650px);
}

.dogs-unpacking {
    height: 220px;
    object-fit: contain;
}

.account_name {
    color: white;
    font-size: 25px;
    transform: translate(40px, 200px);
}

.text1 {
    margin-bottom: 45px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}